<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/jquery" type="text/javascript"></script>
    <script src="/bodyscript" type="text/javascript"></script>
    <script src="/chartjs" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheet">
    <title>Graph</title>
</head>

<body>

    <!-- Modals et al -->
    <div class="modal-window">
        <div class="modal-close">
            <svg viewBox="0 0 320 512" style="width: 20px; height: 20px">
                <path d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z">
                </path>
            </svg>
        </div>
        <div class="modal-content">

        </div>
    </div>

    <!-- Navigation Area-->
    <header>
        <nav>
            <!-- Heading-->
            <h2>Weather Monitor</h2>
            <!-- Add button -->
            <div class="add-button">
                <svg viewBox="0 0 448 512">
                    <g>
                        <path fill="#0078d7aa"
                            d="M176 448a32 32 0 0 0 32 32h32a32 32 0 0 0 32-32V304h-96zm64-416h-32a32 32 0 0 0-32 32v144h96V64a32 32 0 0 0-32-32z">
                        </path>
                        <path fill="#0078d7"
                            d="M448 240v32a32 32 0 0 1-32 32H32a32 32 0 0 1-32-32v-32a32 32 0 0 1 32-32h384a32 32 0 0 1 32 32z">
                        </path>
                    </g>
                </svg>
            </div>
        </nav>
    </header>
    <!--/Navigation Area-->

    <!-- Filters section -->
    <section class="filter-area">
        <!-- Filter text and icon -->
        <div class="filter-head">
            <h1>Filters</h1>
            <div class="expand-area">
                <div class="one"></div>
                <div class="two"></div>
            </div>
        </div>

        <!-- Filter body -->
        <div class="filter-body">
            <div class="grid-container">
                <span>Units:</span>
                <select id="unit">
                    <option value="months" selected>months</option>
                </select>
            </div>
            <div class="grid-container">
                <span id="get">months:</span>
                <input type="number" id="count" min="1" max="100" value="10">
            </div>
            <div class="grid-container"></div>
            <div class="grid-container buttons">
                <button class="button" id="filter-reset">Reset</button>
                <button class="accent-button" id="filter-go">Go</button>
            </div>
        </div>
    </section>

    <!-- Chart section -->
    <section class="chart">
        <div class="canvas-placeholder"></div>
        <canvas class="chart-canvas"></canvas>
    </section>
</body>

</html>